*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

div#wrapper{
    margin: auto;
    margin-top: 10%;
    width: 50%;
    border: 0px solid black;
    display: flex;
    flex-wrap: wrap;
}

div.box{
    margin: 0.05vw;
    width: 100%;
    display: flex;
    justify-content: center;
}

.memory{
    margin: 0.05vw;
    height: 100px;
    width: 100px;
    background-color: blue;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.flip{
    margin: 0.05vw;
    height: 100px;
    width: 100px;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.image{
    width: 90px;
    height: 90px;
}
